*{
    margin: 0;
    padding: 0;
}

:root{
    --twitter: #1DA1F2;
    --youtube: #FF0000;
    --linkedin: #0077b5;
}

.main-content{
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10rem;
    border: 2px solid green;
}

.link-container{
    display: grid;
    grid-template-columns: minmax(1fr, 100%) 1fr;
    gap: 10px;
    margin: 2rem;
}

.link-button{
    padding: 1rem;
    cursor:pointer;
    width:100%;
    transition: box-shadow 0.4s;
    border-style: 2px solid;
}

.tw{
    border-color:var(--twitter);
}

.yt{
    border-color: var(--youtube);
}

.lk{
    border-color: var(--linkedin);
}

.tw:hover,
.tw:focus {
  box-shadow: inset 10rem 0 0 0 var(--twitter);
}

.yt:hover,
.yt:focus {
  box-shadow: inset 10rem 0 0 0 var(--youtube);
}

.lk:hover,
.lk:focus {
  box-shadow: inset 10rem 0 0 0 var(--linkedin);
}