*{
    margin: 0;
    padding: 0;
}

.main-content{
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10rem;
    border: 2px solid green;
}

.link-container{
    display: grid;
    grid-template-columns: minmax(1fr, 100%) 1fr;
    gap: 10px;
    margin: 2rem;
}

.link-button{
    padding: 1rem;
    cursor:pointer;
    width:100%;
    transition: box-shadow 0.4s;
}

:root{
    --hover: red;
}

.link-button:hover,
.link-button:focus {
  box-shadow: inset 10rem 0 0 0 var(--hover);
}